.job {
  display: flex;
  justify-content: space-between;
  margin: 10px;
  padding: 20px;
  flex-direction: column;
}


.job:hover {
  cursor: pointer;
  color: #3e6096;
}

.jobContainer {
  margin: 10px auto;
  width: 80%;
}